<md-content layout="column">


    <md-content flex="" layout-padding="">

        <div layout="column" layout-fill="" layout-align="top center">
          <h1>Promises</h1>

            <div class="promise" ng-repeat="promise in promises">
              <h2>Promise {{promise.id}}: {{promise.name}}</h2>
              <h3>State: {{promise.status}} <span ng-if="promise.status === 'resolved'"> with {{promise.value ? ('value ' + promise.value ) : 'no value'}} </span> <span ng-if="promise.status === 'resolved'">in {{promise.seconds / 1000}} seconds</span></h3>
              <p>Then Listeners: {{promise.thenListeners.length}}</p>
              <p ng-repeat="listener in promise.thenListeners">
                listener {{$index}}: {{listener.promise}}
              </p>
              <p>Error Listeners: {{promise.errorListeners.length}}</p>
            </div>

            <pre><code class="language-javascript">
            var d = promisedDuplicateAsyncFunc(2);
            d.then(function(value) {
                console.log("0: " + value);
                return value;
            });

            d.then(function(value) {
                console.log("1: " + value);
                return value;
            });

            d.then(function(value) {
                console.log("2: " + value);
                return value*2;
            }).then(function(value) {
                console.log("3: " + value);
                return value;
            });
            }</code></pre>
        </div>

        <div flex=""></div>

      </md-content>

</md-content>

